
		.wrapper{
			min-height: 100%;
			width: 100%;
		}
		.division{
			padding: 10px;
			border: 1px solid blue;
		}
		.col50{
			width: calc(50% - 20px);
		}
		.col100{
			width: calc(100% - 20px);
			margin-top: 20px;
			box-shadow: 0 0 6px black;
		}
		.notype{
			list-style-type: none;
		}
		.nopad{
			padding-left:0;
		}
		.bgvert{
			background-color: #19BC56;
		}
		.bgred{
			background-color: #F35D5D;
		}
	
